.dialWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

.dial {
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--offwhite);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dialValue {
    font-size: 22px;
    font-weight: 400;
    color: var(--offwhite);
    z-index: 1;
}

.dialIndicator {
    position: absolute;
    top: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: var(--offwhite);
    border-radius: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}

.dialLabel {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-radius: 9px;
    margin-top: 8px;
}