@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('/fonts/Satoshi-Regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}


:root {
  --offwhite: #FFFDEE;
  --grey: #BFBFBF;
  --black: #000;
  --neongreen: #19FF0D;
  --orange: #F74823;
  --red: #FF0004;
  --yellow: #E6C72A;
}

body {
  background: var(--black);
  color: var(--black);
  font-family: 'Satoshi', Arial, Helvetica, sans-serif;
  margin: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}